
/* Portfolio CSS */

/* colors used
background color (ghost white: #F8F8FF;
primary color : #489c79
Secondary color (medium orchid): #0000CD
--visited color:2b2b2b (dark grey)
--visited-color:;0000CD
*/

* {
  box-sizing: border-box;
}

.header__title {
  /* No spacing to top and bottom and auto-spacing to left and right, which centers the container horizontally */
  margin: 0 auto;
}

body {
  background-color: #f8f8ff;
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

li {
  padding-bottom: 6px;
}

h1 {
  font-size: 35px;
  font-variant: small-caps;
  margin-left: 20px;
}

.button { /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  display: inline-block;

  /* the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #0000cd;
  color: white;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.7;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  opacity: 0.7;
}

a:visited {
  /* visited link */
  color: #8b0000;
}

a:active {
  /* selected link */
  color: #0000cd;
}

a {
  color: #262626;
}

.navigation-list {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation__logo {
  position: relative;
  top: 20px;
  left: 20px;
}

.navigation-list__item--active {
  text-decoration: none;
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides */
  margin: 10px; /* Adds a 10px outer spacing to all sides */
}

.profile__portrait {
  width: 60%;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
  border: 2px solid orange;
}

.profile {
  display: block;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.background-info {
  display: inline-block;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 2px solid #ddd;
  height: 50px;
  width: 80%;
  padding: 15px;
}

th {
  text-align: left;
  background-color: #87ceeb;
  color: white;
}

td {
  vertical-align: bottom;
}

tr: hover { background-color: #f5f5f5; }

tr: nth-child(even) { background-color: #f2f2f2; }

.form-group label {
  display: block;
  padding: 20px;
}

span {
  color: blue;
  font-weight: bold;
}

.enjoy {
  list-style-type: none;
  color: #0000cd;
}

.button__secondary {
  background-color: #489c79;
  color: #262626;
  text-decoration: none;
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#submitbutton {
  background-color: #0000cd;
  color: #fff;
  padding: 10px;
  transition-duration: 0.2s;
  font-size: 20px;
  transition-property: opacity;
  margin: 15px;
}

.page-header {
  background-color: #489c79;
  display: flex;
  width: 100%;
  padding: 20px;
  border-style: solid;
  border-color: #000;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  display: flex;
  padding: 100px;
  clear: both;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.florida-image {
  max-width: 500px;
  height: 500px;
}

.grid {
  display: grid;
}

.grid__item {
  background-color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  padding: 15px;

  /* Set width to auto */
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
